<!DOCTYPE HTML>
<html th:replace="includes/layouts :: basicLayout(~{::title},~{::main},~{},~{})" lang="fr"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>S'inscrire - Les amis de l'escalade</title>
</head>
<body>
<main role="main" class="container">
    <form class="my-5" th:action="@{/register}" th:object="${registerForm}" id="form-register" method="post">
        <div class="text-center mb-3">
            <img class="text-center mb-4" src="/image/logo_full.png" alt="les amis de l'escalade logo" width="300"
                 height="168">
            <h1 class="h1 font-weight-normal">Créer un compte</h1>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="lastName">Nom</label>
                <input class="form-control" th:classappend="${#fields.hasErrors('user.lastName')} ? 'is-invalid' : ''"
                       id="lastName" type="text" th:field="*{user.lastName}" placeholder="Nom"
                       required>
                <div th:if="${#fields.hasErrors('user.lastName')}" th:class="invalid-feedback"
                     th:errors="*{user.lastName}">lastName Error
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="firstName">Prénom</label>
                <input class="form-control" th:classappend="${#fields.hasErrors('user.firstName')} ? 'is-invalid' : ''"
                       id="firstName" type="text" th:field="*{user.firstName}"
                       placeholder="Prénom" required>
                <div th:if="${#fields.hasErrors('user.firstName')}" th:class="invalid-feedback"
                     th:errors="*{user.firstName}">firstName Error
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-5 mb-3">
                <label for="username">Nom d'utilisateur</label>
                <input class="form-control" th:classappend="${#fields.hasErrors('user.username')} ? 'is-invalid' : ''"
                       id="username" type="text" th:field="*{user.username}"
                       placeholder="Nom d'utilisateur" required>
                <div th:if="${#fields.hasErrors('user.username')}" th:class="invalid-feedback"
                     th:errors="*{user.username}">username Error
                </div>
            </div>
            <div class="col-md-7 mb-3">
                <label for="email">Adresse mail</label>
                <input class="form-control" th:classappend="${#fields.hasErrors('user.email')} ? 'is-invalid' : ''"
                       id="email" type="email" th:field="*{user.email}" placeholder="Adresse mail"
                       required>
                <div class="form-control" th:if="${#fields.hasErrors('user.email')}" th:class="invalid-feedback"
                     th:errors="*{user.email}">email Error
                </div>
            </div>
        </div>


        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label for="password">Mot de passe</label>
                <input class="form-control" th:classappend="${#fields.hasErrors('user.password')} ? 'is-invalid' : ''"
                       id="password" type="password" th:field="*{user.password}"
                       placeholder="Mot de passe" required>
                <div th:if="${#fields.hasErrors('user.password')}" th:class="invalid-feedback"
                     th:errors="*{user.password}">password Error
                </div>
            </div>

            <div class="col-md-6 mb-3">
                <label for="confirmPassword">Confirmez votre mot de passe</label>
                <input class="form-control" th:classappend="${#fields.hasErrors('confirmPassword')} ? 'is-invalid' : ''"
                       id="confirmPassword" type="password" th:field="*{confirmPassword}"
                       placeholder="Confirmez votre mot de passe" required>
                <div th:if="${#fields.hasErrors('confirmPassword')}" th:class="invalid-feedback"
                     th:errors="*{confirmPassword}">password Error
                </div>
            </div>

        </div>
        <div class="form-row align-items-center">
            <input class="btn btn-blue btn-lg col-sm-5 ml-auto mr-auto p-2" type="submit" value="S'inscrire">
        </div>
    </form>
</main>
</body>
</html>
