<!DOCTYPE html>
<html th:replace="/includes/layouts :: basicLayout(~{::title},~{::main},~{::link},~{::.additional-scripts})" lang="fr"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head>
    <title th:text="${#strings.capitalize(site.name)} + ' - Les amis de l\'escalade'"> - Les amis de l'escalade</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
</head>

<body>
<main role="main" class="container bg-white mb-5 pb-3 mt-1">
    <button type="button" sec:authorize="hasRole('ROLE_MEMBER')">Tagger</button>
    <div class="row position-relative">
        <img src="/image/defaultSiteImg.jpg" class="img-cover h-300 w-100" alt="user icon">
        <div class="bg-dark px-3 py-2 text-white rounded-pill text-center" id="siteNameDetailWrapper">
            <h1 class="h2" th:text="${#strings.capitalize(site.name)}">Site name</h1>
            <p class="mb-0"
               th:text="${#strings.toUpperCase(site.department.getFormattedString())} + ' - ' + ${#strings.capitalize(site.township)}">
                Department-twonship</p>
        </div>
    </div>

    <div class="m-1 mt-3 p-3 bg-light position-relative">
        <h2>Informations</h2>
        <div id="infoView">
            <button sec:authorize="isAuthenticated()" class="btn btn-outline-primary position-absolute contribute-button rounded-pill contribute-info">
                + Contribuer aux
                informations
            </button>
            <div class="row mb-3" th:if="${site.kidsFriendly}">
                <p class="ml-3 col-auto badge badge-success my-auto">Site adapté aux enfants</p>
            </div>
            <div class="row mb-3" th:if="${!#lists.isEmpty(site.siteTypes)}">
                <b class="col-auto">Type : </b>
                <p class="col-auto mr-1 my-auto" th:each="siteType : ${site.siteTypes}"
                   th:text="${siteType.name}"></p>
            </div>

            <div class="row mb-3" th:if="${site.rockType}">
                <b class="col-auto">Type de roche : </b>
                <p class="col-auto mr-1 my-auto" th:text="${site.rockType.name}">Texte</p>
            </div>
            <div class="row mb-3" th:if="${!#strings.isEmpty(site.minGrade) || !#strings.isEmpty(site.maxGrade)}">
                <b class="col-auto">Difficulté : </b>
                <p class="badge badge-pill badge-warning col-auto mr-2 my-auto"
                   th:if="${!#strings.isEmpty(site.minGrade)}"
                   th:text="${'A partir de ' + site.minGrade.name}"></p>
                <p class="badge badge-pill badge-warning col-auto my-auto" th:if="${!#strings.isEmpty(site.maxGrade)}"
                   th:text="${'jusqu''à ' + site.maxGrade.name}"></p>
            </div>

            <div class="row mb-3" th:if="${!#lists.isEmpty(site.levelGroups)}">
                <b class="col-auto">Recommandé pour : </b>
                <p class="col-auto mr-1 my-auto" th:each="levelGroup : ${site.levelGroups}"
                   th:text="${levelGroup.name + '(de ' + levelGroup.minGrade.name + ' à ' + levelGroup.maxGrade.name + ')'}"></p>
            </div>

            <div class="row mb-3" th:if="${site.cragsNumber}">
                <b class="col-auto">Nombre de falaises : </b>
                <p class="col-auto my-auto" th:text="${site.cragsNumber}">Texte</p>
            </div>

            <div class="row mb-3" th:if="${site.routesNumber}">
                <b class="col-auto">Nombre de voies : </b>
                <p class="col-auto my-auto" th:text="${site.routesNumber.name}">Texte</p>
            </div>

            <div class="row mb-3" th:if="${site.maxRoutesHeight}">
                <b class="col-auto">Hauteur max : </b>
                <p class="col-auto my-auto" th:text="${site.maxRoutesHeight + 'm'}">Texte</p>
            </div>

            <div class="row mb-3" th:if="${!#lists.isEmpty(site.orientations)}">
                <b class="col-auto">Orientations : </b>
                <p class="col-auto mr-1 my-auto" th:each="orientation : ${site.orientations}"
                   th:text="${orientation.name}"></p>
            </div>
        </div>
        <!---->
        <div id="infoViewModify" class="d-none" sec:authorize="isAuthenticated()">
            <button class="btn btn-outline-primary position-absolute contribute-button rounded-pill contribute-info">
                Annuler
            </button>
        </div>

    </div>

    <div class="m-1 mt-3 p-3 bg-light position-relative">
        <h2>Descriptions</h2>
        <div id="descView">
            <button sec:authorize="isAuthenticated()" class="btn btn-outline-primary position-absolute contribute-button rounded-pill contribute-desc">+
                Contribuer aux
                descriptions
            </button>
            <div th:if="${!#strings.isEmpty(site.description)}">
                <h4>À propos du site</h4>
                <div class="row">
                    <p class="col" th:text="${site.description}">Description</p>
                </div>
            </div>
            <div th:if="${!#strings.isEmpty(site.kidsFriendlyInfo)}">
                <h4>Praticabilité pour les enfants</h4>
                <div class="row">
                    <p class="col" th:text="${site.kidsFriendlyInfo}">Texte</p>
                </div>
            </div>

            <div th:if="${!#strings.isEmpty(site.additionalInfos)}">
                <h4>Infos complémentaires</h4>
                <div class="row">
                    <p class="col" th:text="${site.additionalInfos}">Texte</p>
                </div>
            </div>

            <div th:if="${!#strings.isEmpty(site.accessInfo)}">
                <h4>Infos d'accès au site</h4>
                <div class="row">
                    <p class="col" th:text="${site.accessInfo}">Texte</p>
                </div>
            </div>
        </div>
        <!---->
        <div id="descViewModify" class="d-none" sec:authorize="isAuthenticated()">
            <button class="btn btn-outline-primary position-absolute contribute-button rounded-pill contribute-desc">
                Annuler
            </button>
        </div>
    </div>

    <div class="m-1 mt-3 p-3 bg-light position-relative">
        <h2>Localisation</h2>
        <div class="row">
            <div id="mapid" class="mx-3" style="height: 500px; width: 100%;"
                 th:attr="data-lat=${site.latitude}, data-lon=${site.longitude}, data-plat=${site.parkingLatitude}, data-plon=${site.parkingLongitude}, data-name=${site.name}"></div>
        </div>
    </div>

    <h4 class="mt-3">Commentaires</h4>
    <div sec:authorize="isAuthenticated()">
        <form>
            <div class="row">
                <div class="col">
                    <label class="sr-only" for="commentTextArea">Ajouter un commentaire</label>
                    <textarea id="commentTextArea" class="form-control w-100 h-100 no-resize" name="comment"
                              placeholder="Votre commentaire..."></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 ml-auto mt-1">
                    <input class="btn btn-lightblue w-100" type="submit" sec:authorize="hasRole('ROLE_USER')"
                           value="Ajouter un commentaire"/>
                </div>
            </div>
        </form>
    </div>

    <div class="m-1 mt-3 p-3 bg-light">
        <div th:if="${!#lists.isEmpty(site.comments)}">
            <div th:each="comment: ${site.comments}" class="row">
                <div class="col-auto">
                    <b th:text="${#strings.capitalize(comment.id.user.username)}">Texte</b>
                </div>
                <div class="col-auto">
                    <p class="text-secondary mb-0" th:text="${comment.id.date}"></p>
                </div>
                <div class="col-12 pl-4">
                    <p th:text="${comment.description}">Texte</p>
                </div>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(site.comments)}">
            <p>Aucun commentaire pour ce site</p>
        </div>
    </div>

</main>

<div class="additional-scripts">
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin="" type="application/javascript"></script>
    <script th:src="@{/js/siteDetailsMap.js}" type="application/javascript"></script>
</div>

</body>
</html>