<!DOCTYPE html>
<html th:replace="/includes/layouts :: basicLayout(~{::title},~{::main},~{::link},~{::.additional-scripts})" lang="fr"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head>
    <title th:text="${#strings.capitalize(site.name)} + ' - Les amis de l\'escalade'"> - Les amis de l'escalade</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
</head>

<body>
<main role="main" class="container bg-white mb-5 pb-3 mt-1">
    <button type="button" sec:authorize="hasRole('ROLE_MEMBER')">Tagger</button>
    <div class="row position-relative">
        <img src="/image/defaultSiteImg.jpg" class="img-cover height-300 w-100" alt="user icon">
        <div class="bg-dark px-3 py-2 text-white rounded-pill text-center" id="siteNameDetailWrapper">
            <h1 class="h2" th:text="${#strings.capitalize(site.name)}">Site name</h1>
            <p class="mb-0" th:text="${#strings.toUpperCase(site.department.getFormattedString())} + ' - ' + ${#strings.capitalize(site.township)}">Department-twonship</p>
        </div>
    </div>
    <h4>Localisation</h4>
    <div class="row">
        <div id="mapid" class="mx-3" style="height: 500px; width: 100%;"
             th:attr="data-lat=${site.latitude}, data-lon=${site.longitude}, data-plat=${site.parkingLatitude}, data-plon=${site.parkingLongitude}, data-name=${site.name}"></div>
    </div>
    <h4>Commentaires</h4>
    <button type="submit" sec:authorize="hasRole('ROLE_USER')">Commenter</button>

</main>

<div class="additional-scripts">
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin="" type="application/javascript"></script>
    <script th:src="@{/js/siteDetailsMap.js}" type="application/javascript"></script>
</div>

</body>
</html>