<!DOCTYPE HTML>
<html th:replace="/includes/layouts :: basicLayout(~{::title},~{::main},~{::link},~{::.additional-scripts})" lang="fr"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>S'inscrire - Les amis de l'escalade</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/select2.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/select2-bootstrap.min.css}">
</head>
<body>
<main role="main" class="container">
    <form class="my-5" th:action="@{/sites/add}" th:object="${site}" id="form-site" method="post">
        <h1>Ajouter un site d'escalade</h1>
        <div class="form-row my-3">
            <div class="col-md-6">
                <label for="name">Nom du site</label>
                <input class="form-control" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''" id="name"
                       type="text" th:field="*{name}" placeholder="Nom du site" th:value="*{name}" required>
                <div th:if="${#fields.hasErrors('name')}" th:class="invalid-feedback"
                     th:errors="*{name}">name Error
                </div>
            </div>
        </div>
        <div class="form-row mb-3">
            <div class="col-sm-6">
                <label for="township">Commune</label>
                <input class="form-control" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''"
                       id="township" type="text" th:field="*{township}" placeholder="Commune"
                       required>
                <div th:if="${#fields.hasErrors('township')}" th:class="invalid-feedback"
                     th:errors="*{township}">name Error
                </div>
            </div>
            <div class="col-sm-3">
                <label for="department">Departement</label>
                <select class="form-control js-example-basic"
                        th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''"
                        id="department" type="text" th:field="*{department}" required>
                    <option th:each="department : ${departments}" th:value="${department.id}" th:text="${department.departmentNumber} + ' - ' + ${department.name}"></option>
                </select>
                <div th:if="${#fields.hasErrors('department')}" th:class="invalid-feedback"
                     th:errors="*{department}">name Error
                </div>
            </div>
        </div>
        <h4>Localiation du site</h4>
        <input type="hidden" th:field="*{latitude}">
        <input type="hidden" th:field="*{longitude}">
        <input type="hidden" th:field="*{parkingLatitude}">
        <input type="hidden" th:field="*{parkingLongitude}">
        <div id="mapid" style="height: 500px;">
            <div id="addMarkerToMapInfo" class="alert alert-info position-absolute">Cliquez sur la carte pour ajouter la
                position du site
            </div>
        </div>
        <div class="form-row align-items-center">
            <input class="btn btn-blue btn-lg col-sm-5 ml-auto mr-auto p-2 mt-3" type="submit" value="Valider">
        </div>
    </form>
</main>
<div class="additional-scripts">
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin="" type="application/javascript"></script>
    <script th:src="@{/js/select2.full.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/formMap.js}" type="application/javascript"></script>
</div>
</body>
</html>
