<!DOCTYPE HTML>
<html th:replace="includes/layouts :: basicLayout(~{::title},~{::main},~{::link},~{::.additional-scripts})" lang="fr"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Modifier un topo - Les amis de l'escalade</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/select2.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/select2-bootstrap.min.css}">
</head>
<body>
<main role="main" class="container bg-white">
    <div class="row">
        <h1 class="mb-4 ml-3 pt-3">Modifier un topo</h1>
        <form class="mx-3 col-auto ml-auto align-items-center d-flex" th:object="${topo}" th:action="@{/topos/delete}"
              method="POST">
            <input th:field="*{id}" type="hidden" th:value="*{id}" required>
            <button type="submit" class="btn btn-danger">Supprimer</button>
        </form>
    </div>
    <form class="mb-5 mt-2" th:action="@{/topos/modify}" th:object="${topo}" id="form-site" method="post">
        <input th:field="*{id}" type="hidden" th:value="*{id}" required>
        <div class="form-row my-3">
            <div class="col-md-6">
                <label for="name">Nom du topo<span class="text-danger">*</span></label>
                <input class="form-control" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''" id="name"
                       type="text" th:field="*{name}" placeholder="Nom du site" th:value="*{name}" required>
                <div th:if="${#fields.hasErrors('name')}" th:class="invalid-feedback"
                     th:errors="*{name}">name Error
                </div>
            </div>
        </div>

        <div class="form-row mb-3">
            <div class="col-sm-3">
                <label for="department">Departement</label>
                <select class="form-control js-example-basic"
                        th:classappend="${#fields.hasErrors('department')} ? 'is-invalid' : ''"
                        id="department" type="text" th:field="*{department}" required>
                    <option th:each="department : ${departments}" th:value="${department.id}"
                            th:text="${department.departmentNumber} + ' - ' + ${department.name}"></option>
                </select>
                <div th:if="${#fields.hasErrors('department')}" th:class="invalid-feedback"
                     th:errors="*{department}">name Error
                </div>
            </div>
            <div class="col-sm-3">
                <label for="parutionDate">Date de parution</label>
                <input class="form-control"
                       th:classappend="${#fields.hasErrors('parutionDate')} ? 'is-invalid' : ''"
                       id="parutionDate" type="date" th:field="*{parutionDate}"/>
                <div th:if="${#fields.hasErrors('parutionDate')}" th:class="invalid-feedback"
                     th:errors="*{parutionDate}">name Error
                </div>
            </div>
        </div>

        <div class="form-row my-3">
            <div class="col-12">
                <label for="description">Description</label>
                <textarea class="form-control w-100 h-100 no-resize"
                          th:classappend="${#fields.hasErrors('description')} ? 'is-invalid' : ''" id="description"
                          type="text" th:field="*{description}"
                          placeholder="Partagez des informations à propos du site"
                          th:value="*{description}"></textarea>
                <div th:if="${#fields.hasErrors('description')}" th:class="invalid-feedback"
                     th:errors="*{description}">name Error
                </div>
            </div>
        </div>

        <div class="form-row align-items-center">
            <input class="btn btn-blue btn-lg col-sm-5 ml-auto mr-auto p-2 my-3" type="submit" value="Valider">
        </div>
    </form>
</main>
<div class="additional-scripts">
    <script th:src="@{/js/select2.full.min.js}" type="application/javascript"></script>
    <script th:src="@{/js/topoForm.js}" type="application/javascript"></script>
</div>
</body>
</html>
