<!DOCTYPE html>
<html th:replace="includes/layouts :: basicLayout(~{::title},~{::main},~{},~{})" lang="fr"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin - Les amis de l'escalade</title>
</head>

<body>
<main role="main" class="container">

    <h1>Liste des utilisateurs</h1>
    <table class="table table-hover table-black bg-white">
        <tr class="thead-dark">
            <th scope="col">Nom d'utilisateur</th>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Email</th>
            <th scope="col">Roles</th>
            <th scope="col">Actions</th>
        </tr>
        <tr th:each="user : ${users}">
            <th scope="row" th:text="${user.getUsername()}">vide</th>
            <td th:text="${user.lastName}">vide</td>
            <td th:text="${user.firstName}">vide</td>
            <td th:text="${user.email}">vide</td>
            <td th:text="${user.getRolesNamesAsFormattedString()}">vide</td>
            <td>
                <a th:href="@{/users/{username}(username=${user.username})}"><i class="fas fa-eye"></i></a>

                <i class="fas fa-edit"></i>

                <i class="fas fa-trash"></i>
            </td>
        </tr>
    </table>

</main>

</body>
</html>