<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Les amis de l'escalade</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Liste des utilisateurs</h1>
<table>
    <tr>
        <th>firstname</th>
        <th>lastname</th>
        <th>email</th>
        <th>username</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.getFirstName()}">empty</td>
        <td th:text="${user.lastName}">empty</td>
        <td th:text="${user.getEmail()}">empty</td>
        <td th:text="${user.getUsername()}">empty</td>
        <td th:text="${user.getRoles()}">empty</td>
    </tr>
</table>
</body>
</html>