<!DOCTYPE html>
<html th:replace="/includes/layouts :: basicLayout(~{::title},~{::main},~{},~{})" lang="fr"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin - Les amis de l'escalade</title>
</head>

<body>
<main role="main" class="container">

    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Détail d'utilisateur</h5>
                    <p class="card-text" th:text="${user.username}"></p>
                </div>
            </div>
        </div>
    </div>

</main>

</body>
</html>