<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title,links)">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <meta name="description" content="Un site pour les fans d'escalade"/>
    <meta name="author" content="Valaragen"/>

    <title th:replace="${title}">Les amis de l'escalade</title>

    <!--/* Per-page placeholder for additional links */-->
    <th:block th:replace="${links}"/>

</head>
</html>